*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Comic Sans MS';
}
.container{
    max-width: 95%;
    margin: 0 auto;
}
nav{
    background-color: #263281;
}
.nav-con{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}
.menu{
    display: flex;
}
.menu li{
    list-style: none;
}
.nav-con a{
    color: white;
    text-decoration: none;
}
.logo a{
    font-size: 1.5rem;
    font-weight: bolder;
}
.Bar{
    width: 100%;
	height: 80px;
	background: #263281;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Bar a{
    color: white;
    text-decoration: none;
    font-size:40px;
    font-family:'Comic Sans MS';
}
.Botton {
    width: 20%;
	height: 30px;
	background: #a9a9a9;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Botton a{
    color: white;
    text-decoration: none;
    font-size:20px;
    font-family:'Georgia';
}